<section>
        <h4 class="nombreOccidente">Pozo de las mujeres muertas</h4>
        <p class="parrafoOccidente">La expresión "chocar contra un muro" se utiliza en muchas ocasiones a la hora de hablar de algún puerto para referirse a pendientes que, de golpe, nos sorprenden. Esa expresión adquiere con el Pozo de las Mujeres Muertas por su vertiente este, la que arranca de la Regla de Perandones, todo su significado. Durante más de 18 kilómetros, remontando el valle del río Coto, iremos pensando que nos han tomado el pelo con la dureza de este puerto...si no lo conocemos, claro.</p>
        <p class="parrafoOccidente">Arrancamos de la localidad canguesa de La Regla de Perandones, tomando el desvío hacia San Antolín de Ibias y abandonando la carretera que se dirige al Rañadoiro y a Villablino. La primera parte es un falso llano, casi siempre con tendencia ascendente, pasando Tremado de Coto, Vega del Horreo, Monasterio de Coto y varios pueblos más. Trayecto serpenteante, de puro desgaste, que endurece el puerto aún más, porque, quien más, quien menos, visto que ese casi llano, aprovechará para cargar más desarrollo...</p>
        <p class="parrafoOccidente">Pasada la localidad de Monasterio de Coto pensaremos que llega el "clímax", pero no, todavía otros dos kilómetros, hasta que bruscamente la pendiente crece y se sitúa en torno al 10-11% y la subida comienza a parecerse a San Lorenzo, o a Ancares o a la Cobertoria. Carretera ancha, paisaje abierto (cada vez más), rampas de dos dígitos y la sensación de no avanzar apenas.</p>
        <p class="parrafoOccidente">El puerto culminará pasado el desvío al Valledor, si bien la carretera sigue subiendo hasta el alto de Valvaler (algo menos de un kilómetro a menos de un 3%).</p>
        <figure class="perfilOccidente">
            <img src="/occidente/perfilPozoMujeres.jpg" alt="Perfil Pozo de las mujeres muertas">
        </figure>
    </section>

    <section>
        <h4 class="nombreOccidente">Puerto del Palo (por Pola de Allande)</h4>
        <p class="parrafoOccidente">Esta vertiente del puerto del Palo, por su parte, la iniciamos en la localidad de Pola de Allande, transcurriendo la ascensión por una carretera en bastante buen estado.</p>
        <p class="parrafoOccidente">Ya desde un principio nos situamos en pendientes que rondan el 5-6%, lo que será la tónica habitual casi hasta el final. Pero el Palo se hace grande a medida que vamos ascendiendo debido, más allá de su dureza, a la indudable belleza.</p>
        <p class="parrafoOccidente">El puerto del Palo, por esta vertiente, alcanza los 11,7 kilómetros a casi un 5,3% de pendiente media y un coeficiente de dureza de 92. Las posibilidades de encadenado son muchas y variadas, siendo el Palo ideal para utilizarlo como desgaste con vistas a un final en la Bobia.</p>
        <figure class="perfilOccidente">
            <img src="/occidente/perfilPalo.jpg" alt="Perfil Puerto del Palo">
        </figure>
    </section>

    <section>
        <h4 class="nombreOccidente">Santuario del Acebo</h4>
        <p class="parrafoOccidente">La vertiente de Cangas del Narcea que asciende al Santuario del Acebo da su inicio en las mismas calles de esta localidad.Los primeros compases pueden generar dudas, pero cuando, en torno a los 500 metros, tomamos un desvío a la derecha, damos paso a una carretera en buen estado que será la que nos lleve a la cima.</p>
        <p class="parrafoOccidente">El Acebo es, ante todo, un puerto duro, con tres bloques claros: uno inicial, hasta el kilómetro 3 aproximadamente, en donde encontraremos rampas de hasta un 15%. Posteriormente un descansillo, el más largo de toda la subida, nos lleva al bloque intermedio, con un par de kilómetros "serios".</p>
        <p class="parrafoOccidente">Y, finalmente, la parte final, muy abierta (ojo al viento), que cuenta con las rampas más duras. Es, ésta, la parte más espectacular de este Santuario del Acebo, que se corona tras 9,4 kilómetros.</p>
        <p class="parrafoOccidente">El Acebo es un puerto ideal para realizar bucles por la zona, además de encadenar bastante bien con puertos  como el Palo, Santa Ana, Bustellán, Connio, Leitariegos,...</p>
        <figure class="perfilOccidente">
            <img src="/occidente/perfilAcebo.jpg" alt="Perfil Santuario del Acebo">
        </figure>
    </section>

    <section>
        <h4 class="nombreOccidente">Puerto del Connio (E)</h4>
        <p class="parrafoOccidente">Pero la vertiente que vamos a ver en esta ocasión es la este, la que tiene su inicio en Ventanueva, en un desvío que nos indica hacia Ibias, puerto del Connio, reserva de Muniellos...</p>
        <p class="parrafoOccidente">Primeros compases casi llanos (sólo medio kilómetro con algo de dureza) hasta Moal, donde se inicia la parte seria del puerto que rápidamente sitúa sus pendientes entre el 5 y el 6%, con algunos "picos" al 10-11%. Ascensión que transcurre, casi siempre, sumergido entre la arboleda, en un "túnel" natural.</p>
        <p class="parrafoOccidente">Una ascensión de muchos kilates, tranquila, con una carretera en buen estado y que vivirá sus rampas más duras en la parte final.</p>
        <p class="parrafoOccidente">Cortas rampas al 14 y al 16% ya en los 2-3 últimos kilómetros, más cerrados, que le dan aún más entidad a la subida, que se culmina a 1315 metrros de altitud, tras 13,6 kilómetros (desde Ventanueva).</p>
        <figure class="perfilOccidente">
            <img src="/occidente/perfilConnio.jpg" alt="Perfil Puerto del Connio">
        </figure>
    </section>

    <section>
        <h4 class="nombreOccidente">Puerto de Leitariegos</h4>
        <p class="parrafoOccidente">Situamos el inicio en la localidad de Carvallo, allá donde desciende (o donde parte) la vertiente del Santuario del Acebo que sube por Las Tiendas y también punto de partida de la durísima subida a la localidad de Siero... Desde ahí tendremos un puerto de casi 1000 metros de desnivel y 22,5 kilómetros, si bien la tendencia ascendente ya viene de más atrás.</p>
        <p class="parrafoOccidente">Los primeros kilómetros son muy irregulares, con constantes toboganes, zonas al 6-7% combinadas con bajadas, y que transcurren por una carretera encajonada, sin arcen, en relativo buen estado.  Pero la decoración cambiará bruscamente cuando divisamos Sonande: una pequeña bajada, un puente, un gran estrechamiento de la calzada y unos fuertes rampones que se sucederán durante más de tres kilómetros.</p>
        <p class="parrafoOccidente">El infierno ha llegado de golpe y esa imagen que tenemos de un Leitariegos más bien suave, pedaleable, "cicloturista"" se desvanece por completo. Serán algo más de tres kilómetros hasta Vallao, donde se hace cumbre de este tramo, plenos de rampones y a los que sigue otro kilómetro muy suave, prácticamente en bajada, que desemboca en la carretera general (autonómica). Y desde ahí otros diez kilómetros muy regulares y muy abiertos, y que poco tienen que ver  con los anteriores.</p>
        <p class="parrafoOccidente">l puerto de Leitariegos se corona a 1525 metros de altitud tras 22,5 kilómetros de ascenso (desde Carvallo) y cuenta con un coeficiente de dificultad de un gran puerto de primera categoría...Leitariegos cuenta con una estación de esquí por su vertiente leonesa y se puede enlazar, sobre todo, con el Santuario del Acebo y Cerredo.</p>
        <figure class="perfilOccidente">
            <img src="/occidente/perfilLeitariegos.jpg" alt="Perfil Puerto de Leitariegos">
        </figure>
    </section>