    <h3 id="occidenteTitulo">OCCIDENTE DE ASTURIAS</h3>
    
    <p id="descripcionOccidente">En esta secci칩n, encontrar치s los mejores puertos de las comarcas m치s al occidente de Asturias.<br>
    Puertos de distancia media, pero con una pendiente constante, que te har치 disfrutar de unas maravillosas vistas mientras sufres.
    </p>

    <figure id="occidenteMapa">
        <img src="/occidente/occidente-mapa.jpg" alt="Comarcas occidente de Asturias">
    </figure>