    <h3 id="occidenteTitulo">OCCIDENTE DE ASTURIAS</h3>
    
    <p id="descripcionOccidente">En esta sección, encontrarás los mejores puertos de las comarcas más al occidente de Asturias.<br>
    Puertos de distancia media, pero con una pendiente constante, que te hará disfrutar de unas maravillosas vistas mientras sufres.
    </p>

    <figure id="occidenteMapa">
        <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
		<div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":222,"width":500,"zoom":10,"queryString":"Comarca Vaqueira, España","place_id":"ChIJTXPoCs9LMQ0RHgKtWgaLsY0","satellite":false,"centerCoord":[43.347764131292756,-6.479529419266585],"cid":"0x8db18b065aad021e","lang":"es","cityUrl":"/spain/luarca-58239","cityAnchorText":"Mapa de Luarca, Asturias, España","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"336634"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=336634';
        s.async = true;
        s.onload = function (e) {
          window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
      })();</script><a href="https://1map.com/es/map-embed">1 Map</a></div>
        <img src="/occidente/occidente-mapa.jpg" alt="Comarcas occidente de Asturias">
    </figure>