header {
  width: 78rem;
  height: 5rem;
  background: #00ccff;
  display: flex;
  align-items: flex-start;
}

footer
{
    margin-top:380px;
    width:78rem;
    height:5rem;
    background-color:#00ccff;
}

