*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

h2{
  position: sticky;
  width: 8rem;
  height: 8rem;
  padding-left: 15rem;
  padding-top: 27rem;
  font-size: 6rem;
  line-height: 7rem;
  -webkit-text-stroke: 0.3rem rgb(0, 132, 255);
  color: rgba(230, 207, 7, 0.808);
  
}

footer
{
    margin-top:5rem;
    width:86rem;
    height:6rem;
    background-color:#00ccff;
}
