header {
  width: 78rem;
  height: 5rem;
  background: #00ccff;
  display: flex;
  align-items: flex-start;
}

h1{
  position: absolute;
  width: 8rem;
  height: 8rem;
  left: 15rem;
  top: 2rem;
  font-size: 6rem;
  line-height: 0rem;
  -webkit-text-stroke: 0.3rem rgb(0, 132, 255);
  color: rgba(230, 207, 7, 0.808);
  
}
h1 a {
  text-decoration: none;
}
 h1 a:visited{
  -webkit-text-stroke: 0.3rem rgb(0, 132, 255);
  color: rgb(230, 207, 7, 0.808);
}

body{
  background-image: url(../imagenes/asturias1.jpg);
  background-size:cover;
  font-size:12px;
   margin: 0;
} 
