*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

  body{
    background-image: url(../public/imagenes/uriellu.jpg);
    background-size:cover;
    font-size:12px;
     margin: 0;
} 

h1{
    position: absolute;
    width: 8rem;
    height: 8rem;
    left: 15rem;
    top: 2rem;
    font-size: 6rem;
    line-height: 0rem;
    -webkit-text-stroke: 0.3rem rgb(0, 132, 255);
    color: rgba(230, 207, 7, 0.808);
    
}

h2{
  position: absolute;
  width: 8rem;
  height: 8rem;
  left: 15rem;
  top: 27rem;
  font-size: 6rem;
  line-height: 8rem;
  -webkit-text-stroke: 0.3rem rgb(0, 132, 255);
  color: rgba(230, 207, 7, 0.808);
  
}

h1 a {
    text-decoration: none;
  }
  
h1 a:visited{
  position: absolute;
  width: 5rem;
  height: 8rem;
  left: 45rem;
  top: 27rem;
  font-size: 6rem;
  line-height: 7rem;
  -webkit-text-stroke: 0.3rem rgb(0, 132, 255);
  color: rgba(255, 99, 71, 0);
  transform: rotate(-23.95deg);
  }

