
    
</div> 
     <div id="envoltura">
            <div id="contenedor">
                 <div id="cabecera" ></div>
 
            <div id="cuerpo">
                <form id="form-login" action="" method="post" autocomplete="off">
                   
                    <p><label >Usuario:</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder=" Usuario" autofocus="" required=""></p>
 
                    <p><label>Contraseña:</label></p>
                        <input name="contrasenia" type="password" id="contrasenia" placeholder=" Password" required=""></p>
 
                    
                    
                    
                    <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>
                </form>
             </div>
 
        <div id="pie">Sistema de proteccion</div>
        <div id="registrar"><a href="./busqueda"</a>Registrarse</a>
</div>
    </div>
</div>
