    <section>
        <h4 class="nombreOriente">Lagos de Covadonga</h4>
        <p class="parrafoOriente">Los primeros kilómetros son suaves, con pendientes que, rara vez, alcanzan siquiera el 3%. Pero a partir de Covadonga la decoración cambia progresivamente. Lugar histórico, de peregrinación durante todo el año, es éste un factor a tener en cuenta, ya que el tráfico es considerable en cualquier época del año. Ya antes del desvío a Lagos las pendientes habrán alcanzado hasta el 8-9%, una buena prueba de toque lo que viene... La carretera se sumerge en la arboleda, las rampas se sitúan entre el 8 y el 10%, con algunos "picos" al 12-13% y así iremos ganando altura "casi sin enterarnos". Zona engañosa, de tremendo desgaste, dota al puerto de una especial categoría: sí, lo de arriba es bellísimo, pero al poder observar las rampas la sensación de agobio es mucho menor: se ven las distancias.</p>
        <p class="parrafoOriente">Tras algo más de 11 kilómetros (desde Soto de Cangas) llegamos al "clímax" de  la ascensión, la zona que encumbra a esta subida en la historia, la que nos eleva a la categoría de héroes del pedal o nos baja bruscamente a los infiernos: la Huesera. ¿Seremos capaces de superar este infernal tramo? La pendiente entre el kilómetro 11,7 y el 13,3 es del 12%, dato apabullante éste. Todas las historias oídas se nos vienen a la cabeza: Lucho Herrera, Perico, Jalabert y, cómo no, Lejarreta.</p>
        <p class="parrafoOriente">Encontraremos un leve descansillo a la altura del Mirador de la Reina, preludio de los posteriores. Dos kilómetros más con pendiente sostenida nos conducen a una brusca bajada que rompe nuestras piernas pues "chocan" con un muro de más de un kilómetro donde las pendientes son de dos dígitos (12-13%).</p>
        <p class="parrafoOriente">La pendiente irá cediendo poco a poco hasta descender hacia el Lago Enol. Pero como amantes de los puertos, en lugar de bajar al aparcamiento de Buferrera y dar por concluída la ascensión, imitando a los profesionales en la Vuelta, continuamos hasta el aparcamiento del Lago Ercina.</p>
        <p class="parrafoOriente">19 kilómetros después, 1053 metros más arriba, ya tenemos este pedazo de gran historia ciclista en nuestro zurrón. Será entonces cuando nos sintamos dioses, como aquel Perico Delgado del 10 de mayo de 1992, que os relataba al principio. ¡Inmortal!</p>
        <figure class="perfilOriente">
            <img src="/oriente/perfilLagos.jpg" alt="Perfil Lagos de Covadonga">
        </figure>
    </section>

    <section>
        <h4 class="nombreOriente">Mirador del Fito (por AS-260)</h4>
        <p class="parrafoOriente">En el mundo del ciclismo el Mirador del Fito está asociado, de manera inevitable, a Miguel Indurain: último puerto por el que transitó en una gran vuelta (la Vuelta a España de 1996), también una caída allí le hizo abandonar en la Vuelta a España de 1989.</p>
        <p class="parrafoOriente">La vertiente sur que transcurre por la carretera autonómica AS-260 (también por el sur va la vertiente de Collía) arranca de la localidad de Arriondas y lo hace de manera suave, casi llano.  Ya en la primera parte (antes del kilómetro 2) dejaremos a ambos lados los desvíos a Fios y Collía, que nos proporcionan otras maneras "no tradicionales" de alcanzar el Mirador del Fito.</p>
        <p class="parrafoOriente">La subida cuenta con un tramo central de cuatro kilómetros en torno al 6-7%, y"picos" al 10%, antes de un tramo de bajada que, sobre todo, le restará pendiente media, más engañosa de lo que parece. Porque esa es la sensación que nos queda de esta vertiente del Fito: no es tan dura como la norte, pero no es tan suave por no contar con los "rampones" de la anterior y la de Collía.</p>
        <p class="parrafoOriente">El  "agobiante" túnel de vegetación en el que se sumerge  en casi todo momento la ascensión, mezclado con las rampas, las curvas, el verdor, la humedad, factores que van endureciendo cada vez más el puerto que, cuando alcanza el cruce con la carretera de Montealea (y Collía), aún le quedan dos kilómetros. La carretera se despeja, por momentos, en el último tercio de ascensión, mostrándonos en todo su esplendor, los Picos de Europa. La ascensión culminará tras casi 10 kiómetros que cuentan con una pendiente media del 5,4% y esas "máximas" al 10%.</p>
        <figure class="perfilOriente">
            <img src="/oriente/perfilFitu.jpg" alt="Perfil Mirador del Fitu">
        </figure>
    </section>

    <section>
        <h4 class="nombreOriente">Alto del Torno</h4>
        <p class="parrafoOriente">El collado de El Torno o alto del Torno (encontraremos ambos carteles en la cima) es una ascensión irregular, con tres partes bien diferenciadas. Los tres primeros kilómetros (en realidad, hasta el km 3,5, el alto Llamigo) son los más duros de la subida, con pendientes que alcanzan, en ocasiones, el 14%, y todo ello por una carretera relativamente ancha y en buen estado, metida de lleno en el bosque.</p>
        <p class="parrafoOriente">Tras el alto Llamigo, un largo tramo recto y casi llano que sirve para recargar energías ante la zona final. Esa última fase es tal vez la más bella, pues la carretera es bastante abierta y podemos observar el mar y buena parte de la ascensión realizada.</p>
        <p class="parrafoOriente">Arranca, este puerto, de la localidad de Nueva, en un desvío de la carretera As-263 hacia Corao y Riensena. Con un firme en buen estado en su primera fase (hasta Llamigo), seguramente pensemos mucho en los datos globales del puerto, que nos confudirán, puesto que las pendientes pasan del 10% en numerosas ocasiones. Una lástima el descansillo situado en la fase intermedia, ya que resta dureza global al puerto, que, sin embargo, se corona con una respetable pendiente media del 5,7%.</p>
        <p class="parrafoOriente">El alto del Torno alcanza los 533 metros de altitud y su cima es todo un balcón en el que podemos contemplar la majestuosidad de los Picos de Europa.</p>
        <figure class="perfilOriente">
            <img src="/oriente/perfilTorno.jpg" alt="Perfil Alto del Torno">
        </figure>

    <section>
        <h4 class="nombreOriente">Alto de la Tornería</h4>
        <p class="parrafoOriente">El alto de la Tornería es una corta subida llanisca que permite divisar, como si de un balcón se tratara, buena parte del mar que baña la costa de Llanes y la sierra del Cuera, . Un puerto, sin duda, precioso, con números, y que debiera haber sido utilizado ya como acompañante de Lagos de Covadonga.</p>
        <p class="parrafoOriente">El puerto es claro: carretera estrecha, asfalto por momentos irregular y búsqueda de la montaña. Una primera parte casi de calentamiento con pendientes suaves en ese primer kilómetro, hasta que hacen aparición las primeras rampas de consideración ya en el segundo (en torno al 8-9%).</p>
        <p class="parrafoOriente">Rápidamente iremos ganando altura y divisaremos la carretera, muy arriba... Parece que los cálculos no salen, pero súbitamente aumenta la inclinación y los tres kilómetros definitivos son francamente duros, con rampas de hasta un 16%. Desde el punto de vista estético, una ascensión de mucho nivel que bien puede recordarnos al Fito.</p>
        <p class="parrafoOriente">La Tornería se corona a 471 metros de altitud, tras dejar atrás el fabuloso "balcón" por el que hemos rodado durante la segunda fase de la subida, sin cartel indicador en la cima. Sólo la pendiente negativa nos señalará que estamos en la cima del puerto.</p>
        <figure class="perfilOriente">
            <img src="/oriente/perfilTorneria.jpg" alt="Perfil Alto de la Tornería">
        </figure>
    </section>

    </section>