    <h3 id="orienteTitulo">ORIENTE DE ASTURIAS</h3>
    
    <p id="descripcionOriente">En esta sección, encontrarás los puertos más cercanos a los Picos de Europa.<br>
    Espectaculares vistas, desniveles, puertos de varias distancias y cimas míticas del ciclismo internacional.
    </p>

    <figure id="orienteMapa">
        <img src="/oriente/oriente.jpg" alt="Oriente de Asturias">
    </figure>