    <h3 id="centroTitulo">MONTAÑA CENTRAL</h3>
    
    <p id="descripcionCentro">En esta sección, encontrarás los puerto míticos del centro de Asturias.<br>
    Puertos de larga distancia y grandes desniveles, con los que podrás sentirte como en Pirinéos o Alpes.
    </p>

    <figure id="centroMapa">
        <img src="/centro/centro.jpg" alt="Montaña Central">
    </figure>