    <h3 id="centroTitulo">MONTAÑA CENTRAL</h3>
    
    <p id="descripcionCentro">En esta sección, encontrarás los puerto míticos del centro de Asturias.<br>
    Puertos de larga distancia y grandes desniveles, con los que podrás sentirte como en Pirinéos o Alpes.
    </p>

    <figure id="centroMapa">
        <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
		<div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":222,"width":500,"zoom":10,"queryString":"Asturias, España","place_id":"ChIJnbCeYPqMNg0ROp7GfSvztfg","satellite":false,"centerCoord":[43.27580009706802,-5.846541674462373],"cid":"0xf8b5f32b7dc69e3a","lang":"es","cityUrl":"/spain/gijon-18212","cityAnchorText":"Mapa de Gijón, Asturias, España","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"336661"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=336661';
        s.async = true;
        s.onload = function (e) {
          window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
      })();</script><a href="https://1map.com/es/map-embed">1 Map</a></div>
        <img src="/centro/centro.jpg" alt="Montaña Central">
    </figure>