<form name="desplegable" method="post"> 
        <input type="text" list="puertos" placeholder= "&#128270;    Búsqueda de puertos" class="desplegablePuertos"/>
        <datalist id="puertos">
          <option>Coto Bello</option>
          <option>Puerto de San Isidro</option>
          <option>Lagos de Covadonga</option>
          <option>Mirador del Fito</option>
          <option>Alto del Torno</option>
          <option>Alto de la Tornería</option>
          <option>Collada Mohandi</option>
          <option>Collada Llomena</option>
          <option>La Colladona</option>
          <option>Puerto de Vegarada</option>
          <option>Alto de la Cobertoria</option>
          <option>Carabanzo</option>
          <option>Cuitu Negru</option>
          <option>El Cordal</option>
          <option>Alto de Santo Emiliano</option>
          <option>El Angliru</option>
          <option>Gamoniteiru</option>
          <option>La Cubilla</option>
          <option>Pozo de las mujeres muertas</option>
          <option>Puerto de la Marta</option>
          <option>Puerto del Palo</option>
          <option>Santuario del Acebo</option>
          <option>Puerto del Connio</option>
          <option>Puerto de Leitariegos</option>
        </datalist>
      </form>