    <div class="images"></div>
        <ul id="secciones">
          <li><a href="occidente"><img src="/montaña/acebo.jpg" alt="Santuario del Acebo"/></a>OCCIDENTE</li>          
          <li><a href="centro"><img src="/montaña/angliru.jpg" alt="Alto del Angliru"/></a>CENTRO</li>
          <li><a href="oriente"><img src="/montaña/lagos.jpg" alt="Lagos de Covadonga"/></a>ORIENTE</li>
        </ul>
    
    </div>